* {
  background-color: lightblue;
}

.title {
  text-align: center;
  font-size: 4rem;
}
p {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
img {
  width: 500px;
  height: 500x;
  border: 1px lightseagreen;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

img.clockwise {
  width: 80px;
  height: 80x;
}

img.clockwise:hover {
  width: 100px;
  height: 100px;
  transition: 1s;
}

img.axis {
  border: 2px black solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img.axis-2 {
  border: 2px black solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img.axis-3 {
  border: 2px black solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*  transform : rotateX(<angle>) - X-Axis is horizontal-   */
img.rotate-x {
  transform: rotateX(0deg);
}

img.rotate-x-2 {
  transform: rotateX(180deg);
}
/*  text-allign  */
img span.text-1 {
  text-align: left;
}

img span.text-2 {
  text-align: left;
}

/*  transform : rotateY(<angle>) - Y-Axis is vertical-   */
img.rotate-y {
  transform: rotateY(0deg);
}

img.rotate-y-2 {
  transform: rotateY(180deg);
}
/*  text-allign  */
img span.text-3 {
  text-align: left;
}

img span.text-4 {
  text-align: left;
}

/*  transform : rotateZ(<angle>) - Z-Axis is cross between X & Y-   */
img.rotate-z {
  transform: rotateZ(0deg);
}

img.rotate-z-2 {
  transform: rotateZ(50deg);
}
/*  text-allign  */
img span.text-4 {
  text-align: left;
}

img span.text-5 {
  text-align: left;
}
